<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewell.upload.dao.FybLisInfoDao">
    <resultMap id="fybLisItemInfo" type="FybLisItemInfo">
        <id property="patientId" column = "PATIENT_ID"></id>
        <result property="visitId" column = "VISIT_ID"></result>
        <result property="testNo" column = "TEST_NO"></result>
        <result property="requestedDateTime" column = "REQUESTED_DATE_TIME" javaType="java.lang.String" jdbcType="DATE"></result>
        <result property="fybResItemName" column = "FYB_RES_ITEM_NAME"></result>
        <result property="fybResItemCode" column = "FYB_RES_ITEM_CODE"></result>
        <result property="reportItemName" column = "REPORT_ITEM_NAME"></result>
        <result property="reportItemCode" column = "REPORT_ITEM_CODE"></result>
        <result property="result" column = "RESULT"></result>
    </resultMap>
    <select id="selectByOutpId" resultMap="fybLisItemInfo">
        SELECT T.PATIENT_ID,T.VISIT_ID,T.TEST_NO,T.REQUESTED_DATE_TIME,T.FYB_RES_ITEM_NAME,
        T.FYB_RES_ITEM_CODE,T.REPORT_ITEM_NAME,T.REPORT_ITEM_CODE,T.RESULT
        FROM IHD.FYB_LAB_RESULT T WHERE T.VISIT_ID = #{_parameter}
    </select>
</mapper>